<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450654650701-67b4nkcmrtk2f1r9jge5p97f0dq702a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450654650701-67b4nkcmrtk2f1r9jge5p97f0dq702a8</string>
	<key>API_KEY</key>
	<string>AIzaSyDFNQhRATdHu4KAQGGlAhXxOweqZ6WUjwM</string>
	<key>GCM_SENDER_ID</key>
	<string>450654650701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selenyanar.Anbulance</string>
	<key>PROJECT_ID</key>
	<string>anbulance-1a38a</string>
	<key>STORAGE_BUCKET</key>
	<string>anbulance-1a38a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450654650701:ios:40ee991e0025134de37704</string>
</dict>
</plist>